
.section-title {
    color: azure;
    font-size: calc(50px + 0.5vw);
    text-align: center;
    margin-bottom: 0.5em;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
 } 
.card {
position: relative;
width: 100%;
max-width: 250px;
height: 350px;
perspective: 1000px;
cursor: pointer;
flex: 1 1 calc(50% - 20px); /* Responsive break */
box-sizing: border-box;
}

.card-front, .card-back {
width: 100%;
height: 100%;
position: absolute;
border-radius: 10px;
backface-visibility: hidden;
transition: transform 0.6s;
box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.677);
}

.card-front {
background-color: #fff;
}

.card-front img {
width: 100%;
height: 100%;
border-radius: 10px;
object-fit: cover;
}

.card-back {
color:#ffffff;
transform: rotateY(180deg);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgba(146, 128, 167, 0.208);
backdrop-filter: blur(10px); /* Efeito de desfoque */
}

.card:hover .card-front {
transform: rotateY(180deg);
}

.card:hover .card-back {
transform: rotateY(0deg);
}

.card-back h2 {
margin: 0 0 10px;
}

.card-back p {
margin: 0 0 20px;
text-align: center;
}


@media (max-width: 768px) {
.card {
    flex: 1 1 calc(100% - 20px); /* Full width on small screens */
}
}
