
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

dialog {
    color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width: 50%;
    padding: 20px;
}
input:focus,textarea:focus, textarea,input{
    color: #ffffff; /* Manter a cor do texto quando em foco */
}
input::placeholder, textarea::placeholder{
    color: #ffffff;
}

#contactDialog, .aviso {
    backdrop-filter: blur(10px); /* Ajuste o valor do desfoque conforme necessário */
  
    /* Adiciona uma cor de fundo opcional para melhorar a visibilidade do texto */
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
.aviso {
    color: #ffffff;
    text-align: center;
    width: 30%;
}

form {
    display: flex;
    flex-direction: column;
}

form input[type="text"],
form input[type="email"],
form select,
form textarea {
    background-color: transparent;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1.6px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

.btn-enviar input[type="submit"]{
    background: transparent;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 2px;
    border: 1.6px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
    
}

.btn-enviar input[type="submit"]:hover, button:hover {
    background-color: #fafafa;
    color: black;
    
}

/* Título */
.titulo {
    text-align: center;
    margin-bottom: 20px;
}
select option{
    background-color: rgba(255, 255, 255, 0.9);
    color: #000000;
  }
  
select {
    color: #ffffff;
  }
span {
    color: #48ff00;
}
