
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

dialog {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width: 50%;
    padding: 20px;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}


form {
    display: flex;
    flex-direction: column;
}

form input[type="text"],
form input[type="email"],
form select,
form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

.btn-enviar input[type="submit"] {
    padding: 10px;
    background-color: #df0cff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-enviar input[type="submit"]:hover {
    background-color: #df0cff;
}

/* Título */
.titulo {
    text-align: center;
    margin-bottom: 20px;
}

.titulo span {
    color: #df0cff;
}
